.video {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.video__player {
    background: rgb(19, 19, 19);
    object-fit: contain;
    width: 100%;
    height: 100%;
}
